* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-grey: rgb(255, 251, 251);
  --dark-grey: rgb(240, 238, 241);
  --red: rgb(255, 156, 156);
  --green: rgb(159, 255, 156);
}

body {
  background-color: var(--dark-grey);
}

header {
  background-color: var(--light-grey);
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 25px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .3);
}



.form-dialog::backdrop{
  background-color: rgba(0, 0, 0, .4);
}

.book-form{
  display: flex;
  flex-direction: column;
  width: 330px;
  padding: 25px;
  gap: 20px;
  align-items: center;
  border-radius: 10px;
  background-color: var(--dark-grey);
}

.form-title{
  font-size: 25px;
  font-weight: bold;
}

.form-row{
  width: 100%;
}

input[type="text"],
input[type="number"]{
  width: 100%;
  height: 50px;
  font-size: 25px;
  padding-left: 10px;
  border: none;
  border-radius: 10px;
}

.checkbox-row{
  display: flex;
  align-items: center;
  font-size: 23px;
  gap: 20px;
}

.submit-button{
  width: 100%;
  height: 50px;
  font-size: 25px;
  background-color: var(--green);
  border: none;
  border-radius: 10px;
}

.add-book-button{
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  margin-top: 60px;
  margin-bottom: 30px;
}

.book-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 30px;
  padding: 30px;
}

.book-item {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
  gap: 20px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .3);
  max-width: 600px;
}

.title {
  text-decoration: underline;
}

.read-button,
.remove-button {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: none;
  font-size: 25px;
}


.read {
  background-color: var(--green);
}

.not-read {
  background-color: var(--red);
}